.index-box {
    background-color: #29282b;
    transform: scale(1, 1);
    overflow: hidden;
    width: 100%;
    position: relative;
    opacity: 1.0;
    text-align: center;
}
.index-box img {
    width: 60%;
}
